In [ ]:
"""
    CASO O PANDAS OU OUTRA BIBLIOTECA UTILIZADA NÂO ESTEJAM INSTALADOS EXECUTE:
      #instalar Pandas 
        !pip install pandas
"""
#Importando o pandas para a aplicação:
import pandas as pd

#### Data Series X Data Frame

In [ ]:
#Criando series
nomes = [
    'Thiago Gambati',
    'Manoel Neto',
    'Joesley Ferreira',
    'Ingrid Dandara'
]
indice = [0,1,2,3]
ex_series = pd.Series(nomes, indice, name = 'Nomes')
ex_series

In [ ]:
#Criando DataFrame
df = pd.DataFrame({
    "nome" : ['Thiago Gambati', 'Manoel Neto', 'Joesley Ferreira', 'Ingrid Dandara'], 
    "idade" : [22, 21, 23, 21],
    "faculdade" : ['Ciência da Computação', 'Educação Física', 'Arquitetura', 'Medicina Veterinária']
})
df

In [ ]:
#Obtendo coluna específica
df["faculdade"] #Toda coluna de um Data Frame é uma Data Series

#### Importando dados

In [ ]:
#Salvando o arquivo em uma variável a ser trabalhada
dados = pd.read_csv(
    r"C:\Users\thiag\OneDrive\Documentos\Python Scripts\Formação DEX\Pandas\Arquivos da Aplicação\credit_card_clients.csv")
dados

Metadados do DataFrame:

   O conjunto de dados credit contém informações sobre pagamentos, fatores demográficos, dados de crédito, histórico de pagamentos e extratos de contas de clientes de cartão de crédito em Taiwan de abril de 2005 a setembro de 2005.

   O DataFrame contém 25 variáveis:

    ID: ID de cada cliente.

    LIMIT_BAL: Valor do crédito concedido em NT (New Taiwan) dólar (inclui crédito individual e familiar/complementar).

    SEXO: Gênero (1=masculino, 2=feminino).

    EDUCAÇÃO: (1 = pós-graduação, 2 = universidade, 3 = ensino médio, 4 = outros, 5 = desconhecido, 6 = desconhecido).

    CASAMENTO: Estado civil (1=casado, 2=solteiro, 3=outros).

    IDADE: Idade em anos.

    PAY_0: Status de pagamento em setembro de 2005 .(-1=pagamento devido, 1=atraso de pagamento por um mês, 2=atraso de pagamento por dois meses, … 8=atraso de pagamento por oito meses, 9=atraso de pagamento por nove meses e acima).

    PAY_2: Status de reembolso em agosto de 2005 (escala igual à acima).

    PAY_3: Status de reembolso em julho de 2005 (escala igual à acima).

    PAY_4: Status de reembolso em junho de 2005 (escala igual à acima).

    PAY_5: Status de reembolso em maio de 2005 (escala igual à acima).

    PAY_6: Status de reembolso em abril de 2005 (escala igual à acima).

    BILL_AMT1: Valor do extrato da conta em setembro de 2005 (dólar NT).

    BILL_AMT2: Valor do extrato da conta em agosto de 2005 (dólar NT).

    BILL_AMT3: Valor do extrato da conta em julho de 2005 (dólar NT).

    BILL_AMT4: Valor do extrato da conta em junho de 2005 (dólar NT).

    BILL_AMT5: Valor do extrato da conta em maio de 2005 (dólar NT).

    BILL_AMT6: Valor do extrato da conta em abril de 2005 (dólar NT).

    PAY_AMT1: Valor do pagamento anterior em setembro de 2005 (dólar NT).

    PAY_AMT2: Valor do pagamento anterior em agosto de 2005 (dólar NT).

    PAY_AMT3: Valor do pagamento anterior em julho de 2005 (dólar NT).

    PAY_AMT4: Valor do pagamento anterior em junho de 2005 (dólar NT).

    PAY_AMT5: Valor do pagamento anterior em maio de 2005 (dólar NT).

    PAY_AMT6: Valor do pagamento anterior em abril de 2005 (dólar NT).

    default.payment.next.month: Pagamento padrão (1=sim, 0=não).

#### Extraindo informações do DataFrame

In [ ]:
#Mostrando informações das colunas
dados.info()

In [ ]:
#Mostrando 7 primeiros registros do DataFrame
dados.head(7)

In [ ]:
#Mostrando 7 últimos registros do DataFrame
dados.tail(7)

In [ ]:
#Consultando dimensões
dados.shape

In [ ]:
#Renomeando colunas
dados_renamed = dados.rename(columns = {'LIMIT_BAL' : 'valor_credito',
                                        'SEX' : 'sexo',
                                        'EDUCATION' : 'escolaridade',
                                        'MARRIAGE':'estado_civil',
                                        'AGE':'idade',
                                        'PAY_0':'status_pag_set_2005',
                                        'PAY_2':'status_pag_ago_2005',
                                        'PAY_3':'status_pag_jul_2005',
                                        'PAY_4':'status_pag_jun_2005',
                                        'PAY_5':'status_pag_mai_2005',
                                        'PAY_6':'status_pag_abr_2005',
                                        'BILL_AMT1':'extrato_set_2005',
                                        'BILL_AMT2':'extrato_ago_2005',
                                        'BILL_AMT3':'extrato_jul_2005',
                                        'BILL_AMT4':'extrato_jun_2005',
                                        'BILL_AMT5':'extrato_mai_2005',
                                        'BILL_AMT6':'extrato_abr_2005',
                                        'PAY_AMT1':'valor_pag_set_2005',
                                        'PAY_AMT2':'valor_pag_ago_2005',
                                        'PAY_AMT3':'valor_pag_jul_2005',
                                        'PAY_AMT4':'valor_pag_jun_2005',
                                        'PAY_AMT5':'valor_pag_mai_2005',
                                        'PAY_AMT6':'valor_pag_abr_2005'})
dados_renamed

In [ ]:
'''
Caso essa linha seja executada mais de uma vez, resultará em erro, pois a coluna
"default payment next month" já foi apagada
'''
#Excluindo uma coluna
                                    #inplace aplica as ações no DataFrame caso (True)
dados_renamed.drop("default payment next month", axis = 1, inplace = True) 
dados_renamed

In [ ]:
#Salvando dados do DataFrame em arquivo
dados_renamed.to_excel("Arquivos da Aplicação/Resultado.xlsx")

In [ ]:
#Acessando rotulo das linhas
dados_renamed.index

In [ ]:
#Acessando rotulo das colunas
dados_renamed.columns

In [ ]:
#Acessando rotulo das colunas de outra forma
dados_renamed.keys()

In [ ]:
#Identificando os valores do DataSet a partir de um objeto ndarray
dados_renamed.values

In [ ]:
#Identificando os valores do DataSet a partir de um objeto ndarray de outra forma
dados_renamed.to_numpy()

In [ ]:
#Identificando os tipos de dados contidos em cada coluna
dados_renamed.dtypes

In [ ]:
#tambem pode ser usado df.info() para mostrar mais especificações
dados_renamed.info()

In [ ]:
'''
#Código pesado, caso queira executar, basta apagar  (\''' ) 

#Iterando linhas e colunas do DataFrame
for index, row in dados_renamed.iterrows():
    print(index)
    print (row)
    
'''

#### Selecionar valores específicos de um DataFrame

In [ ]:
#Acessando uma coluna
dados_renamed ['valor_credito']

In [ ]:
#Com outra sintaxe
dados_renamed.valor_credito

In [ ]:
#Acessando múltiplas colunas
dados_renamed[['valor_credito', 'escolaridade']]

In [ ]:
#Filtrando colunas
dados_renamed.filter(like = 'jul')

O df.loc utiliza os índices ou rótulos dos eixos das linhas e colunas como forma de endereçar elementos.

In [ ]:
#Acessando linhas com df.loc[]
dados_renamed.loc[0]

In [ ]:
#Acessando múltiplas linhas com df.loc[]
dados_renamed.loc[0:5]

In [ ]:
#Acessando linhas e colunas com df.loc[]
dados_renamed.loc[0:2, ['valor_credito', 'sexo']]

Já o df.iloc utiliza números inteiros correspondentes á posição dos eixos

In [ ]:
#Localizando itens a partir do índice
dados_renamed.iloc[3:10, 3:6] #Primeiro parâmentro é das linhas o segundo das colunas, separados por ","

In [ ]:
#Acessar linha apartir de máscaras booleanas
dados_renamed[dados_renamed["escolaridade"] == 1]

#### Tratamento de dados

In [ ]:
#Nova base de dados
credit = pd.read_csv(r"Arquivos da Aplicação\credit_card_clients_2.csv")
credit

In [ ]:
#Renomeando colunas
credit = credit.rename(columns = {'LIMIT_BAL' : 'valor_credito',
                                        'SEX' : 'sexo',
                                        'EDUCATION' : 'escolaridade',
                                        'MARRIAGE':'estado_civil',
                                        'AGE':'idade',
                                        'PAY_0':'status_pag_set_2005',
                                        'PAY_2':'status_pag_ago_2005',
                                        'PAY_3':'status_pag_jul_2005',
                                        'PAY_4':'status_pag_jun_2005',
                                        'PAY_5':'status_pag_mai_2005',
                                        'PAY_6':'status_pag_abr_2005',
                                        'BILL_AMT1':'extrato_set_2005',
                                        'BILL_AMT2':'extrato_ago_2005',
                                        'BILL_AMT3':'extrato_jul_2005',
                                        'BILL_AMT4':'extrato_jun_2005',
                                        'BILL_AMT5':'extrato_mai_2005',
                                        'BILL_AMT6':'extrato_abr_2005',
                                        'PAY_AMT1':'valor_pag_set_2005',
                                        'PAY_AMT2':'valor_pag_ago_2005',
                                        'PAY_AMT3':'valor_pag_jul_2005',
                                        'PAY_AMT4':'valor_pag_jun_2005',
                                        'PAY_AMT5':'valor_pag_mai_2005',
                                        'PAY_AMT6':'valor_pag_abr_2005'})

In [ ]:
#Verificando valores não nulos, caso queira ver os itens que não são nulos "df.isnull()
credit.notnull().sum()

In [ ]:
#Verificando Valores não nulos usando df.info()
credit.info()

In [ ]:
#Valores nulos no DataFrame em booleano"
credit.isnull().sum()

In [ ]:
#Filtrando valores nulos
credit[credit['ID'].isnull()]

In [ ]:
#Excluido valores nulos
credit_notnull = credit[credit['valor_credito'].notna()]
credit_notnull

In [ ]:
#Outra forma de excluir valores nulos
credit.dropna(inplace = True) #"how ='all'" apagará a linha caso todas as colunas sejam nulas
                         #caso "how ='any'" apagará a linha onde alguma coluna for nula
credit

O df.drop_duplicates serve para remover duplicatas do DataFrame e recebe os seguintes parâmetros:

       .subset= :especifica uma coluna ou lista de rótulos de colunas. 
           Valor padrão = None

       .keep= :serve para controlar o que considerar valor duplicado:

            first: descarta duplicatas, exceto a primeira ocorrência de cada.

            last: descarta duplicatas, exceto a úlitma ocorrência de cada.

            False: elimina TODAS as duplicatas.


       .inplace= : recebe valores booleanos e remove as linhas que forem duplicadas 
       diretamente no DataFrame caso True

In [ ]:
#Removendo dados duplicados
credit.drop_duplicates(subset = 'ID', keep = 'first', inplace = True)
credit

In [ ]:
#Agrupando dados com .groupby()
credit_grouped = credit.groupby(["escolaridade"]).mean().reset_index
display(credit_grouped)